/*

Author: Manisha KC;
Theme: Food order website Admin;
Version: 1.0;

*/

*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.wrapper {
    
    padding: 1% ;
    width: 80%;
    margin: 0 auto;

}
.text-center{
    text-align: center;
}
.clearfix{
    float:none;
    clear:both;
}
/*css for menu*/
.menu{
    border-bottom: solid black;
}
.menu ul{
    list-style-type: none;


}
.menu ul li {
    display: inline;
    padding: 1%;
}
.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: hotpink;

}
.menu ul li a:hover {
    color: red;

}

/*css for main content*/
.main-content {
padding:1% 0;
background-color: rgb(218, 247, 248);
}

.col-4{
    width:18%;
    background-color: white;
    margin: 1%;
    padding:2%;
    float:left;
}
/* css fo footer*/
.footer{
    background-color:grey;
color: white;

}